[Unit]
Description=Traefik edge proxy
Wants=certificate-exporter.path

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
Restart=always
ExecStartPre=/bin/rm -f %t/traefik.pid %t/traefik.ctr-id
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/traefik.pid \
    --cidfile=%t/traefik.ctr-id \
    --cgroups=no-conmon \
    --network=host \
    --replace --name=%N \
    --volume=./acme:/etc/traefik/acme:z \
    --volume=./traefik.yaml:/etc/traefik/traefik.yaml:z \
    --volume=./selfsigned.crt:/etc/traefik/selfsigned.crt:z \
    --volume=./selfsigned.key:/etc/traefik/selfsigned.key:z \
    --volume=./configs:/etc/traefik/configs:z \
    --volume=./custom_certificates:/etc/traefik/custom_certificates:z \
    $PODMAN_RUN_OPTS \
    ${TRAEFIK_IMAGE}
ExecStartPost=-runagent write-hosts
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/traefik.ctr-id -t 15
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/traefik.ctr-id
PIDFile=%t/traefik.pid
Type=forking
WorkingDirectory=%S/state
SyslogIdentifier=%u

[Install]
WantedBy=default.target
